
<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);">
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <div class="tabulation animate-box">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Personal health insurance - Get a quote</a>
                                </li>

                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="flights">
                                    <div class="row">
                                        <div class="col-xxs-12">
                                            <label for="from">To provide a quote, we need some information. Please tell us about the family members you'd like to insure and select your plan:</label>
                                        </div>
                                    </div><br />
                                    <div class="row">
                                        @*<div class="col-xxs-12">
                                                <div class="input-field">
                                                    <label for="from">Enter your yearly Income:</label>
                                                    <input type="text" class="form-control" id="txtIncome" required placeholder="Your anual income(in $)" />
                                                </div>

                                            </div>*@
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="txtYourName">Enter Your Name:</label>
                                                <input type="text" class="form-control" id="txtYourName" placeholder="Your Name" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="txtIncome">Enter your yearly Income:</label>
                                                <input type="text" class="form-control" id="txtIncome" required placeholder="anual income(in $)" />
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="from">Zip code:</label>
                                                <input type="text" class="form-control" id="txtZipcode" placeholder="Zip code" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <div class="input-field">
                                                <label for="from">Age:</label>
                                                <input type="text" class="form-control" id="txtAge" placeholder="Your Age" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label for="input-field">Height :</label>
                                                <input type="text" class="form-control" id="txtHeight" placeholder="Height(in centimeter)" />
                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label for="date-end">Weight :</label>
                                                <input type="text" class="form-control" id="txtWeight" placeholder="Weight(in Kg)" />
                                            </div>
                                        </div>

                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label for="class">Gender :</label>
                                                <select id="selectGender" class="form-control">
                                                    <option value="1">Male</option>
                                                    <option value="2">Female</option>
                                                </select>
                                            </section>
                                        </div>

                                        <div class="col-xxs-12 col-xs-6 mt">
                                            <section>
                                                <label for="class">Tabaco used ? :</label>
                                                <select class="form-control" style="font:bold 12 px arial,verdana" id="SelectTabacoAdict">
                                                    <option value="0">No</option>
                                                    <option value="1">Yes</option>

                                                </select>
                                            </section>
                                        </div>


                                        <div class="col-xs-12">
                                            <input type="submit" id="btnCalculate" class="btn btn-primary btn-block" value="Calculate">
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="desc2 animate-box">
                        <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1" id="divInsuranceInfo" style="display:none">
                            <h2>Hi, <span id="namespan"></span> </h2>
                            <h3 id="h3BMI"></h3>
                            <h3>And your total insurance cost is: </h3>
                            <span class="price" id="InsurancecostSpan"></span>


                            <!-- <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-tours" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Hot Tours</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                <div href="#">
                    <img src="images/place-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <div class="desc">
                        <span></span>
                        <h3>New York</h3>
                        <span>3 nights + Flight 5*Hotel</span>
                        <span class="price">$1,000</span>
                        <a class="btn btn-primary btn-outline" href="#">Book Now <i class="icon-arrow-right22"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                <div href="#">
                    <img src="images/place-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <div class="desc">
                        <span></span>
                        <h3>Philippines</h3>
                        <span>4 nights + Flight 5*Hotel</span>
                        <span class="price">$1,000</span>
                        <a class="btn btn-primary btn-outline" href="#">Book Now <i class="icon-arrow-right22"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                <div href="#">
                    <img src="images/place-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <div class="desc">
                        <span></span>
                        <h3>Hongkong</h3>
                        <span>2 nights + Flight 4*Hotel</span>
                        <span class="price">$1,000</span>
                        <a class="btn btn-primary btn-outline" href="#">Book Now <i class="icon-arrow-right22"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center animate-box">
                <p><a class="btn btn-primary btn-outline btn-lg" href="#">See All Offers <i class="icon-arrow-right22"></i></a></p>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="feature-left">
                    <span class="icon">
                        <i class="icon-hotairballoon"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Family Travel</h3>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="feature-left">
                    <span class="icon">
                        <i class="icon-search"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Travel Plans</h3>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="feature-left">
                    <span class="icon">
                        <i class="icon-wallet"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Honeymoon</h3>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 animate-box">
                <div class="feature-left">
                    <span class="icon">
                        <i class="icon-wine"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Business Travel</h3>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="feature-left">
                    <span class="icon">
                        <i class="icon-genius"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Solo Travel</h3>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 animate-box">
                <div class="feature-left">
                    <span class="icon">
                        <i class="icon-chat"></i>
                    </span>
                    <div class="feature-copy">
                        <h3>Explorer</h3>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
                        <p><a href="#">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-destination">
    <div class="tour-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul id="fh5co-destination-list" class="animate-box">
                    <li class="one-forth text-center" style="background-image: url(images/place-1.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Los Angeles</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-2.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Hongkong</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-3.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Italy</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-4.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Philippines</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-5.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Japan</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-half text-center">
                        <div class="title-bg">
                            <div class="case-studies-summary">
                                <h2>Most Popular Destinations</h2>
                                <span><a href="#">View All Destinations</a></span>
                            </div>
                        </div>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-6.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Paris</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-7.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Singapore</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-8.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Madagascar</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-9.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Egypt</h2>
                            </div>
                        </a>
                    </li>
                    <li class="one-forth text-center" style="background-image: url(images/place-10.jpg); ">
                        <a href="#">
                            <div class="case-studies-summary">
                                <h2>Indonesia</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-blog-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Recent From Blog</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/place-1.jpg" alt=""></a>
                    <div class="blog-text">
                        <div class="prod-title">
                            <h3><a href="#">30% Discount to Travel All Around the World</a></h3>
                            <span class="posted_by">Sep. 15th</span>
                            <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            <p><a href="#">Learn More...</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/place-2.jpg" alt=""></a>
                    <div class="blog-text">
                        <div class="prod-title">
                            <h3><a href="#">Planning for Vacation</a></h3>
                            <span class="posted_by">Sep. 15th</span>
                            <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            <p><a href="#">Learn More...</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/place-3.jpg" alt=""></a>
                    <div class="blog-text">
                        <div class="prod-title">
                            <h3><a href="#">Visit Tokyo Japan</a></h3>
                            <span class="posted_by">Sep. 15th</span>
                            <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                            <p><a href="#">Learn More...</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-md-block"></div>
        </div>
        <div class="col-md-12 text-center animate-box">
            <p><a class="btn btn-primary btn-outline btn-lg" href="#">See All Post <i class="icon-arrow-right22"></i></a></p>
        </div>
    </div>
</div>

<div id="fh5co-testimonial" style="background-image:url(images/img_bg_1.jpg);">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Happy Clients</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box-testimony animate-box">
                    <blockquote>
                        <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                    </blockquote>
                    <p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="box-testimony animate-box">
                    <blockquote>
                        <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
                    </blockquote>
                    <p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
                </div>


            </div>
            <div class="col-md-4">
                <div class="box-testimony animate-box">
                    <blockquote>
                        <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                        <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                    </blockquote>
                    <p class="author">John Doe, Founder <a href="#">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
                </div>

            </div>
        </div>
    </div>
</div>



<script>

    $(document).ready(function () {

  
        $("#btnCalculate").click(function (e) {
            e.preventDefault();
            
            $(".loader").fadeIn("slow");

            var txtYourName = $('#txtYourName').val();
            var txtIncome = $('#txtIncome').val();
            var txtZipcode = $('#txtZipcode').val();
            var txtAge = $('#txtAge').val();
            var txtHeight = $('#txtHeight').val();
            var txtWeight = $('#txtWeight').val();
            var selectGender = $('#selectGender').val();
            var SelectTabacoAdict = $('#SelectTabacoAdict').val();
            var selectGender = $('#selectGender').val();

            debugger;
            if (txtYourName == "") {
                $('#txtYourName').focus();
                $('#txtYourName').after('<span class="error">This field is required</span>');
                alert("Please enter your name");

            }
            else if (txtIncome == "") {
                $("span.error").remove();
                $('#txtIncome').focus();
                $('#txtIncome').after('<span class="error">This field is required</span>');
                alert("Please enter your anual income");
            }
            else if (txtZipcode == "") {
                $("span.error").remove();
                $('#txtZipcode').focus();
                $('#txtZipcode').after('<span class="error">This field is required</span>');
                alert("Please enter your zipcode");
            }
            else if (txtAge == "") {
                $("span.error").remove();
                $('#txtAge').focus();
                $('#txtAge').after('<span class="error">This field is required</span>');
                alert("Please enter your age");
            }
            else if (txtHeight == "") {
                $("span.error").remove();
                $('#txtHeight').focus();
                $('#txtHeight').after('<span class="error">This field is required</span>');
                alert("Please select the height");
            }
            else if (txtWeight == "") {
                $("span.error").remove();
                $('#txtWeight').focus();
                $('#txtWeight').after('<span class="error">This field is required</span>');
                alert("Please select the weight");
            }
            else if (selectGender == "") {
                $("span.error").remove();
                $('#selectGender').focus();
                $('#selectGender').after('<span class="error">This field is required</span>');
                alert("Please select the gender");
            }
            else if (SelectTabacoAdict == "") {
                $("span.error").remove();
                $('#SelectTabacoAdict').focus();
                $('#SelectTabacoAdict').after('<span class="error">This field is required</span>');
                alert("Please select Tabaco uses or not");
            }

            else {


                var objCustomerModel = {
                    Name : txtYourName,
                    YearlyIncome :txtIncome,
                    Age :txtAge,
                    Zipcode : txtZipcode,
                    Hight : txtHeight,
                    Weight: txtWeight,
                    gender : selectGender,
                    SelectTabacoAdict : SelectTabacoAdict,

                };
                debugger;
                $.ajax({
                    url: "@Url.Action("CalculateCost", "Home")",
                    data: JSON.stringify(objCustomerModel),
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    success: function (data) {
                        debugger;
                        $(".loader").fadeOut("slow");
                        $('#divInsuranceInfo').css("display", "block");
                        $('#namespan').text(data.FullName);
                        $('#h3BMI').text("Your BMI:"+data.BmiFloat);
                        $('#InsurancecostSpan').text("$"+data.TotalInsuranceCost);
                        //,
                        //

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error !");
                    }
                });
            }

        });


    });


</script>






